n8n-workflow.json
{
  "name": "Smart AI Content Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "content-trigger",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "n0",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "id": "check-topic",
              "leftValue": "={{ $json.topic }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            },
            {
              "id": "check-lang",
              "leftValue": "={{ $json.language }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "n1",
      "name": "Validator",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 160]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": { "__rl": true, "value": "YOUR_SHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Sheet1", "mode": "name" },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "n2",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [460, 460]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "model": { "__rl": true, "value": "gpt-4o", "mode": "list" },
        "messages": {
          "values": [
            {
              "content": "=You are a professional content writer. Write a detailed, engaging article about: {{ $json.topic }}\n\nLanguage: {{ $json.language }}\nTone: {{ $json.tone || 'professional' }}\nWord count: ~800 words\n\nReturn a JSON object with:\n- title: (article title)\n- body: (full article in markdown)\n- summary: (2-sentence summary)\n- hashtags: (array of 5 relevant hashtags)\n- image_prompt: (DALL-E image prompt for the article)"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 2000,
          "responseFormat": "json_object"
        }
      },
      "id": "n3",
      "name": "GPT-4o",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [700, 300]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "generate",
        "prompt": "={{ JSON.parse($json.message.content).image_prompt }}",
        "size": "1024x1024",
        "quality": "hd",
        "style": "vivid",
        "options": {}
      },
      "id": "n4",
      "name": "DALL-E 3",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [940, 140]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": { "__rl": true, "value": "#content", "mode": "name" },
        "messageType": "block",
        "blocksUi": {
          "blocksValues": [
            {
              "type": "section",
              "textUi": {
                "type": "mrkdwn",
                "text": "=*🤖 New Article Published!*\n\n*Title:* {{ JSON.parse($('GPT-4o').item.json.message.content).title }}\n\n*Summary:* {{ JSON.parse($('GPT-4o').item.json.message.content).summary }}\n\n*Hashtags:* {{ JSON.parse($('GPT-4o').item.json.message.content).hashtags.join(' ') }}"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "n5",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [940, 460]
    },
    {
      "parameters": {
        "resource": "post",
        "operation": "create",
        "title": "={{ JSON.parse($('GPT-4o').item.json.message.content).title }}",
        "content": "={{ JSON.parse($('GPT-4o').item.json.message.content).body }}",
        "status": "publish",
        "additionalFields": {
          "excerpt": "={{ JSON.parse($('GPT-4o').item.json.message.content).summary }}",
          "tags": "={{ JSON.parse($('GPT-4o').item.json.message.content).hashtags }}"
        }
      },
      "id": "n6",
      "name": "WordPress",
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [1180, 220]
    },
    {
      "parameters": {
        "text": "={{ JSON.parse($('GPT-4o').item.json.message.content).summary }}\n\n{{ JSON.parse($('GPT-4o').item.json.message.content).hashtags.join(' ') }}\n\n🔗 {{ $('WordPress').item.json.link }}",
        "additionalFields": {}
      },
      "id": "n7",
      "name": "Twitter / X",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [1180, 400]
    },
    {
      "parameters": {
        "operation": "create",
        "base": { "__rl": true, "value": "YOUR_AIRTABLE_BASE_ID", "mode": "id" },
        "table": { "__rl": true, "value": "Content Log", "mode": "name" },
        "fields": {
          "fieldMappingValues": [
            { "fieldId": "Title",       "fieldValue": "={{ JSON.parse($('GPT-4o').item.json.message.content).title }}" },
            { "fieldId": "URL",         "fieldValue": "={{ $('WordPress').item.json.link }}" },
            { "fieldId": "Topic",       "fieldValue": "={{ $('Webhook').item.json.topic }}" },
            { "fieldId": "Published At","fieldValue": "={{ new Date().toISOString() }}" },
            { "fieldId": "Hashtags",    "fieldValue": "={{ JSON.parse($('GPT-4o').item.json.message.content).hashtags.join(', ') }}" },
            { "fieldId": "Status",      "fieldValue": "Published" }
          ]
        },
        "options": {}
      },
      "id": "n8",
      "name": "Airtable Analytics",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [1420, 300]
    }
  ],
  "connections": {
    "Webhook":            { "main": [[{ "node": "Validator",   "type": "main", "index": 0 }, { "node": "Google Sheets", "type": "main", "index": 0 }]] },
    "Validator":          { "main": [[{ "node": "GPT-4o",      "type": "main", "index": 0 }]] },
    "Google Sheets":      { "main": [[{ "node": "GPT-4o",      "type": "main", "index": 0 }]] },
    "GPT-4o":             { "main": [[{ "node": "DALL-E 3",    "type": "main", "index": 0 }, { "node": "Slack",         "type": "main", "index": 0 }]] },
    "DALL-E 3":           { "main": [[{ "node": "WordPress",   "type": "main", "index": 0 }]] },
    "Slack":              { "main": [[{ "node": "Twitter / X", "type": "main", "index": 0 }]] },
    "WordPress":          { "main": [[{ "node": "Airtable Analytics", "type": "main", "index": 0 }]] },
    "Twitter / X":        { "main": [[{ "node": "Airtable Analytics", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["AI", "Content", "Automation"],
  "triggerCount": 1,
  "updatedAt": "2026-06-25T00:00:00.000Z",
  "versionId": "1"
}
